@model IEnumerable<CodeFirst.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary btnStyle">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-success btnStyle">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger btnStyle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
